<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/slick/slick.css' }}"/>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/slick/slick-theme.css' }}"/>
</head>
<body>
<section class="page-header">
    <a id="top">&nbsp;</a>
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.description }}</h2>
    <a href="#about" class="btn">About</a>
    <a href="#events" class="btn">Events</a>
    <a href="#chapters" class="btn">Chapters</a>
    <a href="#get-started" class="btn">Get started</a>
    <a href="#contact" class="btn">Contact</a>
</section>

<section class="main-content">
    <section>
        <h2><a id="about">About</a></h2>
        {% assign about_images = site.static_files | where_exp: "item", "item.path contains '/images/home/about/'" %}
        {% include slideshow.html image_files=about_images %}
        {% capture include_about %}{% include about.md %}{% endcapture %}
        {{ include_about | markdownify }}
    </section>
    <section>
        <h2><a id="events">Events</a></h2>
        {% assign events_images = site.static_files | where_exp: "item", "item.path contains '/images/home/events/'" %}
        {% include slideshow.html image_files=events_images %}
        {% capture include_events %}{% include events.md %}{% endcapture %}
        {{ include_events | markdownify }}
    </section>
    <section>
        <h2><a id="chapters">Chapters</a></h2>
        {% assign chapters_images = site.static_files | where_exp: "item", "item.path contains '/images/home/chapters/'" %}
        {% include slideshow.html image_files=chapters_images %}
        {% capture include_chapters %}{% include chapters.md %}{% endcapture %}
        {{ include_chapters | markdownify }}
    </section>
    <section>
        <h2><a id="get-started">Get started</a></h2>
        {% capture include_get_started %}{% include get_started.md %}{% endcapture %}
        {{ include_get_started | markdownify }}
    </section>
    <section>
        <h2><a id="contact">Contact</a></h2>
        {% capture include_contact %}{% include contact.md %}{% endcapture %}
        {{ include_contact | markdownify }}
    </section>
    <footer class="site-footer">
        <span class="site-footer-credits">&copy; Australia Tamil Arts</span>
        <a href="#top">Top &uarr;</a>
    </footer>
</section>
{% include footer_js.html %}
</body>
</html>
