<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<section class="page-header">
    <a id="top">&nbsp;</a>
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.description }}</h2>
    <a href="/" class="btn">Home</a>
    {% for chapter in page.chapters %}
    <a href="#{{ chapter.anchor }}" class="btn">{{ chapter.name }}</a>
    {% endfor %}
</section>

<section class="main-content">
    {{ content }}
    <footer class="site-footer">
        <span class="site-footer-credits">&copy; Australia Tamil Arts</span>
        <a href="#top">Top &uarr;</a>
    </footer>
</section>
{% include footer_js.html %}
</body>
</html>
